layout {
  tab name="init" split_direction="horizontal" cwd="~"  {
    pane split_direction="vertical" {
    pane {
        name "term"
        cwd "~"
      }
      pane {
      name "nvim"
      focus true
      borderless true
        command "nvim"
        cwd "~"
      }
         pane split_direction="horizontal" {
            pane
            pane
        }
    }
    pane size=1 borderless=true {
        plugin location="zellij:compact-bar"
    }
  }
}
